.anne-logo-img {
	width: 43px;
    margin-top: -12px;
	display: inline !important;
}
.anne-brand {
	font-size: 15px;
	font-weight: 600;
}
.anne {
	color: #fff;
}
.dominguez: {
	color: #f0a830;
}
.intro-lead-name {
	color: #fed137;
}
.expertise-a {
	position: relative;
}
.navbar-menu {
	font-size: 12px;
	
}
.portfolio-sub-title {
	color: #f93363;
}
.open-sans {
	font-family: 'Open Sans', sans-serif;
}
.spectra-cycle {
	background-color: #c30;
	animation-name: spectra-cycle;
	animation-duration: 40s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}
.fa-red {
	color: #F44F4F;
}
.contact-hello {
	color: #fff;
	font-weight: 400;
    font-size: 17px;
}
.contact-address {
    padding: 20px 30px;
    border: 2px solid #f0a830;
    top: 20px;
    position: relative;
    border-radius: 2px;
}
.contact-address:hover {
	text-decoration: none;
	background: #f0a830;
	color: #252525;
	cursor: pointer;
}
@media screen and (min-width: 1200px){
	.w-container {
		max-width: 1170px;
	}
}
.w-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 662px;
	margin-top: 95px;
}
.social-link {
	margin-right: 25px;
	margin-left: 25px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	color: #4b4b4b;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	text-decoration: none;
}
.social-link:hover {
	text-decoration: none;
}
.ease {
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fa-blugreen {
	color: #FDD137;
}
.fa-stack-1 {
	font-size: 1.6em !important;
}
.portfolio-categories {
    color: #9D9D9D;
}